In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

salary_1 =  pd.read_csv('salary_1.csv')
salary_2 =  pd.read_csv('salary_2.csv')

salary_df = pd.concat([salary_1, salary_2])
salary_df = salary_df.dropna()

gender_salary = salary_df.groupby('Gender')['Salary'].mean()
salary_df = salary_df.merge(gender_salary, on = 'Gender', how = 'left')
salary_df = salary_df.rename({'Salary_x': 'Salary', 'Salary_y': 'Gender_salary'}, axis = 1)
salary_df
pd.pivot_table(salary_df, index='Country', columns='Gender', values='Years of Experience')

salary_df['Salary_log'] = np.log(salary_df['Salary'])
salary_df = salary_df.select_dtypes(exclude=['object'])

from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
rs.fit(salary_df)

salary_df

In [27]:
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
rs.fit(salary_df)
rs_df = rs.transform(salary_df)

In [31]:
rs_df = pd.DataFrame(rs_df)
rs_df

,Age,Education Level,Years of Experience,Salary,Senior,Gender_salary,Salary_log
0,0.0,0.0,-0.222222,-0.277778,0.0,0.0,-0.296515
1,-0.4,1.0,-0.444444,-0.555556,0.0,-1.0,-0.690165
2,1.3,2.0,0.888889,0.388889,1.0,0.0,0.321410
3,0.4,0.0,0.000000,-0.611111,0.0,-1.0,-0.786990
4,2.0,1.0,1.444444,0.944444,0.0,0.0,0.669408
...,...,...,...,...,...,...,...
6675,1.7,2.0,1.444444,0.944444,0.0,-1.0,0.669408
6676,0.0,-1.0,-0.444444,-0.722222,0.0,0.0,-1.007537
6677,-0.2,0.0,-0.333333,-0.666667,0.0,-1.0,-0.892244
6678,1.4,1.0,0.777778,0.277778,0.0,0.0,0.237953
6679,-0.6,-1.0,-0.666667,-0.888889,0.0,-1.0,-1.438992